.navbar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1.5rem;
  font-size: 1rem;
}

.nav-top {
  display: flex;
  justify-content: space-between;
}

.nav-top h2 {
  font-size: 30px;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  max-width: 650px;
  margin: 0 20px;
}

.search-input {
  padding: 10px;
  flex-grow: 1;
  border: 2px solid #437057;
  border-left: none;
  border-radius: 0 20px 20px 0;
  outline: none;
  font-size: 14px;
}

.search-input::placeholder {
  color: #ccc;
}

.search-btn {
  background-color: #437057;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 20px 0 0 20px;
  font-weight: bold;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icons .icon {
  font-size: 35px;
  cursor: pointer;
}

.profile-group {
  position: relative;
}

.dropdown-menu {
  /* display: flex; */
  display: none;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  position: absolute;
  top: 28px;
  right: -30px;
  background: #437057;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown-menu p {
  display: flex;
  gap: 5px;
  align-items: center;
}

.profile-group:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .icon {
  width: 20px;
  /* padding-top: 5px; */
}

.dropdown-item {
  color: rgb(252, 249, 249);
  cursor: pointer;
  /* margin: 5px 0; */
}

.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  bottom: 15px;
  right: -5px;
  color: white;
  background: #437057;
  border-radius: 50%;
  font-size: 0.7em;
  padding: 0.2rem 0.4rem;
}

.nav-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.navbar-link {
  font-size: 20px;
  font-weight: 600;
}

.navbar-link:hover {
  background-color: #ddd;
  border-radius: 30px;
  width: 60px;
  /* align-items: center; */
  /* justify-content: center; */
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(44, 44, 44, 0.8);
}

.loader-icon {
  font-size: 60px;
  animation: spin 1s linear infinite;
  color: #437057;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
