.product-container {
  /* padding-top: 10px;  */
  opacity: 1;
}

.product-content {
  display: flex;
  gap: 40px;
}

.product-images {
  display: flex;
  flex-direction: column-reverse;
  gap: 3px;
  max-width: 50%;
}

.thumbnail-container {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  margin-top: 10px;
}

.product-divider {
  color: #437057;
}

.thumbnail {
  width: 24%;
  flex-shrink: 0;
  cursor: pointer;
}

.main-image-container {
  width: 100%;
}

.main-image {
  width: 100%;
  height: auto;
}

.product-info {
  flex: 1;
  max-width: 50%;
}

.product-info .product-name {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 10px;
}

.product-price {
  margin-top: 20px;
  font-size: 1.875rem;
  font-weight: 500;
}

.product-description {
  margin-top: 20px;
  color: gray;
}

.size-selector {
  margin: 30px 0;
}

.size-buttons {
  display: flex;
  gap: 5px;
}

.size-button {
  border: none;
  padding: 10px 17px;
  margin-top: 5px;
  background-color: #437057;
  color: #fff;
}

.active-size {
  background-color: rgb(180, 153, 15);
}

.product-divider {
  margin-top: 30px;
}

.product-policy {
  margin-top: 20px;
  color: gray;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-to-cart-btn {
  background: #437057;
  border: none;
  color: #fff;
  padding: 15px 80px;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 15px;
}

.add-to-cart-btn:hover {
background-color: rgb(180, 153, 15);
}

.description-review-sect {
  margin-top: 50px;
}

.tabs {
  display: flex;
}

.tab {
  /* background-color: #fff; */
  color: #2c2b2b;
  padding: 10px 15px;
  font-size: 0.875rem;
}

.description-contect {
  border: 1px solid;
  padding: 20px;
  color: gray;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
